* {
    box-sizing: border-box;
    padding: 0;
}
body {
    background-color: rgb(17,19,15);
    font-family:Helvetica;
    font-weight: 100;
    color: rgb(190,190,190);
}
#name {
    font-size: 28px;
    padding-left: 40px;
}
#name2 {
    font-size: 15px;
    padding-left: 40px;
    margin-top: -20px;
}
.column {
    float: right;
    margin-top: -90px;
    margin-right: 30px;
}
ul {
    list-style-type: none;
}
li {
    float: left;
    padding: 20px;
}

a:link {
    color: rgb(190,190,190);
    background-color: transparent; 
    text-decoration: none;
}
a:visited {
    color: rgb(190,190,190);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(255,255,255);
    background-color: transparent;
    text-decoration: none;
}
