* {
    box-sizing: border-box;
    padding: 0;
}
body {
    background-color: rgb(37,39,35);
    font-family:Helvetica;
    font-weight: 100;
    color: rgb(190,190,190);
}
#name {
    font-size: 28px;
    padding-left: 40px;
}
#name2 {
    font-size: 15px;
    padding-left: 40px;
    margin-top: -20px;
}
.column {
    float: right;
    margin-top: -90px;
    margin-right: 30px;
}
ul {
    list-style-type: none;
}
li {
    float: left;
    padding: 20px;
}


a:link {
    color: rgb(190,190,190);
    background-color: transparent; 
    text-decoration: none;
}
a:visited {
    color: rgb(190,190,190);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(255,255,255);
    background-color: transparent;
    text-decoration: none;
}
#content {
    margin-top: 50px;
    
}
#preButton {
    float: left;
    margin-left: 300px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
#nextButton {
    float: right;
    margin-right: 300px;   
}
.button {
    background-color: transparent;
    border-style: none;
    color: rgb(190,190,190);
    font-size: 50px;
    margin-top: 220px;
}
.button:hover {
    color: rgb(10,190,190);
}
#frame {
    margin-top: -25px;   
    height: 320px;
    width: 400px;
    background-color:transparent;
    
    overflow: hidden;
}
#slider {
    height: 320px;
    width: 1210px;

}
#page1, #page2, #page3 {
    height: 320px;
    width: 395px;
    display:inline-block;

}

#titleOutFrame{
    margin-top: -20px;
    color: rgb(29,155,161);
    font-size: 40px;
}
#titleInFrame {
    font-size: 25px;
    margin-bottom: 30px;
}

#dotButton1,
#dotButton2,
#dotButton3 {
    background-color: transparent;
    border-style: none;
    font-size: 50px;
    padding-right: 2px;
}


#dots{

     margin-left: auto;
     margin-right: auto;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: rgb(190,190,190);
    border-radius: 50%;
    border-style: none;
    display: inline-block;
}


#dot1 {
    background-color: rgb(10,190,190);
}
#slider {
    position: relative;
}

.frame2 {
    background-color: rgb(210,220,220);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-style: none;
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 13px;
}

img {
    height: 70px;


    margin-top: 14px;

}
